button, input[type=button], input[type=submit] {
  font-size: inherit;
  background: $color-background;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: $core-border-radius;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: color

  &:hover, &:focus {
    $darken-color: darken($color-primary, 15%);
    border-color: $darken-color;
    color: $darken-color;
  }
}
