@import './styles/config.scss';

input, textarea {
  font-size: inherit;
  font-family: inherit;
}

.button, button, input[type=button], input[type=submit] {
  font-size: inherit;
  background: $color-background;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: $core-border-radius;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: color;
  display: inline-block;

  &:hover, &:focus {
    border-color: $color-primary-lightened;
    color: $color-primary-lightened;
  }
}

input[type=text], textarea {
  padding: $core-padding;
}

textarea {
  min-height: 10rem;
  width: 100%;
}
