@import '/styles/config.scss';

html {
  box-sizing: border-box;
  font-family: $font-family-primary;
  font-size: $core-font-size;
  font-weight: $font-family-primary-weight;
  background: $color-background;
  color: $color-foreground;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}
